/* core styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #4D4B56;
  color: #C5856C;
}

button {
  cursor: pointer;
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

/* score board styles */
h1 {
  margin-left: 10px;
  text-align: center;
  margin-top: 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 20px;
  padding-left: 20rem;
  padding-right: 20rem;
}

.scoreRefresh-title {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

input {
  border: none;
  border-bottom: 1px solid #C5856C;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.scoreListItem:nth-child(odd), td {
  background-color: #8FC9BD;
  color: #4D4B56;
}

.error {
  font-size: 10px;
  margin-top: -15px;
  color: red;
  display: none;
}

.active {
  display: block;
}

#submit {
  max-width: 5vw;
  font-size: 10px;
  background-color: #C5856C;
  border: none;
  padding: 10px;
  box-shadow: 3px 3px 3px #8FC9BD;
  color: #4D4B56;
}

#refresh-btn {
  background-color: #C5856C;
  border: none;
  padding: 10px;
  box-shadow: 3px 3px 3px #8FC9BD;
  color: #4D4B56;
}

.scoreRefresh-title {
  display: flex;
  justify-content: space-between;
}
